<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/users">Users</a>

    <form action="/users" method="post">
      <label for="name">Enter name: </label>
      <input id="name" type="text" name="name" placeholder="Name">
      <label for="username">Enter username: </label>
      <input id="username" type="text" name="username" placeholder="User Name">
      <label for="password">Enter password: </label>
      <input id="password" type="password" name="password" placeholder="Password">
      <br />
      <input type="submit" value="Submit Data">
    </form>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
    <form action="/users/sendMessage" method="POST">
      <input type="submit" value="FAKE DATA" />
    </form>

  </body>
</html>
